.cnt {
    padding-top: 10px;
}

.form-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.movies-container {
	min-height: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 90px;
	margin-bottom: 120px;
}

.movies-favorite-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 130px;
    margin-top: 90px;
}

.form-container button {
    margin-left: 20px;
}

.label {
    padding-right: 10px;
}

.favorite-true{
    background: maroon;
    height: 35px;
    width: 100%;
}

.favorite-false{
    background: blue;
    height: 35px;
    width: 100%;
}


.movie-container {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: right;
	text-align: center;
	background: black;
	margin: 20px;
	width: 18%;
	padding: 10px;
	min-width: 100px;
}

.poster{
    height: auto;
    width: 88%;
}

.movie-title{
    height: 100%;
}

.btn-eliminar{
    background: maroon;
    height: 38px;
    border-radius: 15px 0px;
}

.btn-eliminar:hover{
    background: currentColor;
    height: 38px;
    /* border-radius: 15px 0px; */
}

.btn-container {
	width: 100%;
	justify-content: end;
	display: flex;
}

.title-img-container {
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
    font-size: x-small;
    text-decoration: none;
}

.img-movie-favorite{
    height: auto;
    width: 150px;
}
.movie-favorite-container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: right;
    background: black;
    margin: 10px;
    width: 17%;
    padding: 12px;
    min-width: 150px;
}

.year-type-container{
    color: blanchedalmond;
}

.img-busca-peli {
	width: auto;
	height: 265px;
	border-radius: 10%;
}